body{
    background-color: yellow;
    color:#000000;
    height: 100vh;
    
}
p{
    max-height: 100%;
    font-size: 6rem;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;

}